<div class="col-md-3 panel panel-footer">
    <div class="panel-heading">
        <p class="panel-title text-center">Видове дивеч</p>
    </div>
    <div class="panel-body">
        <ul class="nav">
            {{#each categories}}
                <li>
                    <a href="/category/articles/{{this.id}}?page=1"
                       class="list-group-item text-center">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="col-md-8 center-block">
    <div class="carousel-holder">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="/{{image1}}" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="/{{image2}}" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="/{{image3}}" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="caption-full view">
        <article>
            <header>
                <h1 class="text-center">{{title}}</h1>
            </header>

            <div>
                <h2>Общи сведения</h2>
                <p>{{content1}}</p>
            </div>

            <div>
                <h2>Начин на живот и размножаване</h2>
                <p>{{content2}}</p>
            </div>

            <div>
                <h2>Стопанско значение и лов</h2>
                <p>{{content3}}</p>
            </div>
        </article>
    </div>
</div>




