<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span id="header" href="#">Ловът в България</span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Начало</a>
                </li>
                <li>
                    <a href="#">Ловен календар</a>
                </li>
                <li>
                    <a href="#">Методи за лов</a>
                </li>
                <li>
                    <a href="#">Галерия</a>
                </li>
                <li>
                    <a href="#">Контакти</a>
                </li>
            </ul>
            {{#if currentUser}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>Здравей({{currentUser.username}})</a></li>
                        <li><a href="/article/create">Нова Статия</a></li>
                        <li><a href="/category/create">Нова Категория</a></li>
                        <li><a href="/user/logout">Излез</a></li>
                    </ul>
                </div>
            {{/if}}
            {{#unless currentUser}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user/login">Влез</a></li>
                    </ul>
                </div>
            {{/unless}}

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
        <div class="col-md-3">
            <p class="lead">Категории</p>
            <div class="list-group">
                {{#each categories}}
                    <a href="/category/articles/{{this.id}}" class="list-group-item">{{title}}</a>
                {{/each}}
            </div>
        </div>

        {{#if error }}
            <h2>{{error}}</h2>
        {{/if}}

        {{{body}}}


    <!-- /.container -->
</div>
<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Hunting Website 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

</body>

</html>
